.body {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.container-icon {
  position: relative;
  width: 50%;
  height: 10rem;
  text-align: left;
}

.icon {
  position: absolute;
  width: 100%;
}

.telon {
  overflow: hidden;
  height: 0rem;
  animation: telonan 0.75s cubic-bezier(0.85, 0, 0.15, 1) forwards infinite
    alternate;
  color: var(--primary-color);
}

.telon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  height: 4px;
  border-radius: 100px;
}

@keyframes telonan {
  0% {
    height: 4px;
  }
  100% {
    height: 10rem;
  }
}
