/*-------------------expected crypto-------------------*/

.expected-crypto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expected-crypto__amount {
    font-size: 1.69rem;
}

.expected-crypto__info {
    color: #999;
    font-size: 0.625rem;
}

/*-------------------button-------------------*/

.button-action {
    outline: none;
    cursor: pointer;
    background-color: #006070;
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
    border-color: #DEDEDE;
    padding: 0.78rem;
    color: white;
    font-size: 1.25rem;
}