.screen-enter {
  opacity: 0;
}

.screen-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.screen-exit {
  opacity: 1;
}

.screen-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.floating {
  display: none;
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}

.anim-container {
  transform: translate(-6.25px, -6.25px);
}

.chat {
  --offset: -10px;
  display: flex;
  position: absolute;
  z-index: 9999999;
  bottom: 13%;
  right: 12px;
  cursor: pointer;
}

.hi {
  animation: sayhi 800ms;
}

.background {
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
    0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
    0 25px 20px rgba(0, 0, 0, 0.1);
  height: 50px;
  left: 6.25px;
  position: absolute;
  top: 6.25px;
  width: 50px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  transition: width 200ms, left 200ms;
}

.chat-bubble {
  position: relative;
  top: 7.85px;
  left: 7.4px;
  transition: transform 200ms;
}

.bubble {
  transform-origin: 50%;
  transition: transform 500ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
}

.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.75;
  stroke-linecap: round;
  transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 90;
  stroke-dashoffset: -20;
}

.line2 {
  stroke-dasharray: 67 87;
  stroke-dashoffset: -18;
}

.circle {
  fill: #ffffff;
  stroke: none;
  transform-origin: 50%;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active .bubble {
  transform: translateX(35px) translateY(0px) rotate(45deg);
}

.active .line1 {
  stroke-dashoffset: 21;
}

.active .line2 {
  stroke-dashoffset: 30;
}

.active .circle {
  transform: scale(0);
}

.background-text {
  color: white;
  font-size: 0.75rem;
  opacity: 0;
  transition: opacity 200ms;
  position: relative;
  top: 14px;
  left: 50px;
  white-space: nowrap;
}

.shy,
.shy--unhover {
  right: var(--offset);
  transition: right 300ms;
}

.shy.active,
.shy--unhover.active {
  right: -15px;
  transition: right 300ms;
}

.shy:hover {
  right: 0;
  transition: right 200ms;
}

.shy:hover .background {
  width: calc(181px + var(--offset));
  left: calc(-116.9px - var(--offset));
  transition: width 200ms, left 200ms;
}

.shy:hover .chat-bubble {
  transform: translateX(calc(-116.9px - var(--offset)));
  transition: transform 200ms;
}

.shy:hover .background-text {
  opacity: 1;
  transition: opacity 200ms;
}

@keyframes sayhi {
  0% {
    transform: rotate(0deg);
  }
  16.66% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  83.33% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
