.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.heading {
  max-width: 60%;
}

.buttonContainer {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  gap: 18px;
}
