h1.wrapper {
    display: block;
    padding-top: 12px;
    padding-bottom: 37px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-dark-color);
}