
/*-------------------list-------------------*/
.input-wrapper {
    padding: 0 22px 12px 24px;
}

.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.125rem var(--padding-rl);
    height: var(--component-content-height);
    flex-shrink: 0;
    padding: 19px 22px;
    background: #FFFFFF;
}

.list-item:hover {
    cursor: pointer;
    background-color: #F7FAFD;
}

.list-item:active {
    background: #6C77DC;
}

.list-item__icon {
    width: 100%;
    max-height: 32px;
    max-width: 32px;
}

.list-item__child {
    width: 100%;
    flex-grow: 1;
    margin-left: 20px;
}

.list-item__name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2px;
    color: #292D32;
}

.list-item__info {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #7C7D82;
}

.list-item__right-child {
    flex-shrink: 0;
}

.list-item:active .list-item__name,
.list-item:active .list-item__right-child,
.list-item:active .list-item__info,
.list-item:active .list-item__right-child .list-text {
    color: #FFFFFF;
}