.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body img {
    margin: 2rem 0;
    height: 5rem;
}

.title {
    font-size: 1.25rem;
}

.info {
    font-size: 0.875rem;
    color: grey;
    margin-top: 1rem;
}

.button--link {
    color: black;
    margin-top: 1rem;
    text-decoration: underline;
    
}

.button--link:hover {
    cursor: pointer;
    color: grey;
}