/*-------------------button-------------------*/

.button-action {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--text-light-color);
  border-radius: 3.9375rem;
  color: var(--text-light-color);
  font-size: 1rem;
  padding: 1.125rem;
  width: 100%;
  margin-top: auto;
  height: fit-content;
  height: -moz-fit-content;
  box-shadow: 0px 24px 24px rgba(0, 75, 235, 0.1);
  transition: background-color 0.1s;
  position: relative;
  z-index: 2;
}

.pending {
  color: transparent;
}

.spinner {
  width: 28px;
  height: 28px;
  margin: auto;
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);
}

.button-action--small {
  font-size: 1em;
  padding: 0.625em 1em;
}

.button-action:hover {
  border-color: #004beb;
  color: #004beb;
}

.button-action:active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button-action:disabled {
  box-shadow: none;
  cursor: unset;
  filter: brightness(0.5);
}

.button-action.primary,
.button-action.primary:active,
.button-action.primary:hover {
  border-color: var(--primary-var-text-color);
  color: var(--primary-var-text-color);
}
