.body {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.body-content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2.375rem;
    width: fit-content;
    align-items: center;
}

.body-content>* {
    margin-top: .75rem;
}

.body-content> :first-child {
    margin-top: 0rem;
}

.content-title {
    font-size: 1.5rem;
}

.content-description {
    font-size: 0.875rem;
    margin-top: 1rem;
}

.content-link {
    font-size: 0.875rem;
    color: #353535;
    font-weight: 700;
    margin-top: 0.4375rem;
    letter-spacing: 0.2px;
}

.content-image {
    width: 15rem;
    color: var(--primary-color);
}