.loadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.message {
  font-weight: 700;
  font-size: 1.3em;
  line-height: 42px;
  padding-top: 40px;
}

.loadingWrapper img {
  width: 15%;
}

.errorWrapper {
  height: 100%;
  --padding-top: 0;
  --padding-rl: 0;
}
