
/*-------------------gateway list-------------------*/
.rates-list {
    width: 100%;
    font-size: 1rem;
}

/*-------------------gateway option-------------------*/

.option-container {
    --oc-padding: 0px 0.71875rem;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #C9C9C9;

    padding: 1.25rem 0px;
}

.option-container__radio {
    padding: var(--oc-padding);
}

.option-container__radio input[type='radio'] {
    margin: 0;
}

.option-container__content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: var(--oc-padding);
    /* margin-bottom: 0.5rem; */
}

/* .option-container__content:not(:last-child) > * > :not(:last-child){
    margin-bottom: 1.312rem;
} */

.content__info {
    display: flex;
    flex-grow: 1;
    margin-right: 1.6875rem;
    flex-direction: column;
    box-sizing: border-box;
    --collapsable-height: 2.25rem;
    /* margin-bottom: 0.6rem;  *//*margined to align with crypto-diff*/
    transition: margin-right 200ms cubic-bezier(0.4, 0, 1, 1);
}

.content__info .collapsable-section {
    height: var(--collapsable-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__info .title {
    margin-bottom: 0.4375rem;
    display: inline-block;
    font-size: 1rem;
}

/* .content__info > :last-child {
    flex-grow: 1;
} */
.content__price > :last-child {
    flex-grow: 1;
    justify-content: flex-end;
}

.content__info .details {
    font-size: 0.75rem;
    opacity: 0.5;
/*     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 6.5rem)); */
}

/*child detail*/
.details__item {
    align-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: fit-content(25%) auto;
    column-gap: 0.35rem;
}

.details__item + .details__item {
    margin-top: 0.125rem;
}

/*icon on child detail*/
.details__item > div {
    height: 1.066em;
    vertical-align: bottom;
}

.details__item > div > img {
    width: 0.775rem;
    height: 0.775rem;
    display: block;
}

.content__info .fees {
    transform: translateY(-70%);
    font-size: 0.875rem;
}

.content__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
/*     --collapsable-height: 1.5rem; */
}

.content__price .gateway-logo {
    /* overflow: hidden; */
    height: var(--collapsable-height);
    position: relative;
    /* margin-bottom: 1.5rem; */
}

.content__price .gateway-logo img {
    max-width: 5rem;
    /* width: 100%; */
    /* width: 100%; */
    /* max-height: var(--collapsable-height); */
    max-width: 9rem;
    max-height: 2rem;
    position: absolute;
}

.content__price > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    text-align: end;
    font-size: 0.75rem;
}

.content__price :not(.gateway-logo) > span {
    line-height: 1em;
}


/*------------------- diff receive -------------------*/
.receive-diff {
    --diff-size: 0.61312em;
    position: relative;
    display: inline-block;
/*     color: green; */
}

/*gateway collapsed*/
.option-container--collapsed .receive-diff {
    --diff-up-color: green;
    --diff-down-color: red;
}

.option-container--collapsed .receive-diff::before {
    content: '';
    height: 0;

    border-right: calc( 0.57735 * var(--diff-size) ) solid transparent;
    border-left: calc( 0.57735 * var(--diff-size) ) solid transparent;
    right: 100%;
    top: 23%;
    position: absolute;
    margin-right: 0.33125em;
}

.diff--down {
    color: var(--diff-down-color);
}

.diff--down::before {
    border-top: var(--diff-size) solid var(--diff-down-color);
}

.diff--up {
    color: var(--diff-up-color);
}

.diff--up::before {
    border-bottom: var(--diff-size) solid var(--diff-up-color);
}

.option-container--collapsed {
  border-color: transparent;
}

.option-container--collapsed:hover {
    cursor: pointer;
}

.option-container--collapsed .content__info{
    margin-right: 0;
}

.option-container--disabled {
    border-style: none;
    color: #d6d6d6;
}

.option-container--disabled:hover {
    cursor: default;
}

.option-container--disabled .content__price > div {   
    font-size: 0.625rem;
}

/* .option-container__content--collapsed,
.option-container__content--collapsed > * > :not(:last-child) {
    margin: 0px;
} */

.option-container--collapsed .content__info,
.option-container--collapsed .content__info > * > span:first-of-type {
    margin-bottom: 0px;
}

/******************transitions***********************/
.collapse-enter {
    max-height: 0rem;
    opacity: 0;
}

.collapse-enter-active {
    max-height: var(--collapsable-height);
    opacity: 1;
    transition: max-height 200ms linear, opacity 300ms linear;
}

.collapse-exit {
    max-height: var(--collapsable-height);
    opacity: 1;
}

.collapse-exit-active {
    max-height: 0rem;
    opacity: 0;
    transition: max-height 200ms linear, opacity 100ms linear;
}

.collapse-enter .fees {
    opacity: 0;
}

.collapse-enter-active .fees {
    opacity: 1;
    transition: opacity 500ms linear;
}

.collapse-exit .fees {
    opacity: 1;
}

.collapse-exit-active .fees {
    opacity: 1;
    transition: opacity 500ms linear;
}

/***/
.fade-enter {
    max-height: 0;
    opacity: 0;
}

.fade-enter-active {
    max-height: 5rem;
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit {
    max-height: 5rem;
    opacity: 1;
}
.fade-exit-active {
    max-height: 0;
    opacity: 0;
    transition: opacity 100ms;
}