.wrapper {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    text-align: right;
}

.network {
    font-size: 12px;
    line-height: 15px;
    color: #7C7D82;
    margin-top: 2px;
}