/**wrapper container**/
.container {
    display: flex;
    flex-direction: column;
    --border-size: 2px;
    --border-color: #f5f8f9;
    --icon-width: 1rem;
    --icon-padding: 0.5625rem;
    --icon-size: calc(var(--icon-width) + var(--icon-padding) * 2);
    --item-padding: 0.9375rem;
    font-size: 1rem;
} 

/**items wrapper**/
.wrapper {
    padding: 0;
    margin: 0;
    padding-left: calc(var(--icon-size) / 2);
    /* width: calc( 100% - (var(--icon-size) / 2));
    height: calc( 100% + (var(--item-padding) * 2));
    transform: translateY(calc( var(--item-padding) * -1 )); */
}

.wrapper + .wrapper {
    border-top: 1px solid #F5F5F5;
}

/**************************item**************************/
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    list-style-type: none;
}

/**vertical line**/
.item::before {
    content: '';
    width: var(--border-size);
    height: 102%;
    background-color: var(--border-color);
    position: absolute;
    transform: translateX(-50%);
}

.item:first-child::before {
    height: 51%;
    transform: translateX(-50%) translateY(50%);
}

.item:last-child::before {
    height: 51%;
    transform: translateX(-50%) translateY(-50%);
}

/**wrapp .item--detail when have to be expanded**/
.details-container .item--detail::before {
    content: '';
    width: var(--border-size);
    height: 102%;
    background-color: var(--border-color);
    position: absolute;
    transform: translateX(-50%);
}

.details-container .item--detail:first-child::before {
    transform: translateX(-50%);
}

.details-container .item--detail:last-child::before {
    transform: translateX(-50%);
}

/***disable vertical line when its only 1 item***/
.item:only-child::before {
    content: none;
}

/***child elements in item***/
.item .icon {
    position: absolute;
    transform: translateX( calc( -50% ) ) translateY(-50%);
    top: 50%;

    color: var(--primary-color);
    background-color: var(--border-color);
    padding: var(--icon-padding);
    width: var(--icon-width);
    height: var(--icon-width);
    border-radius: 5px;
}

.item .dot {
    position: absolute;
    transform: translateX( calc( -50% ) ) translateY(-50%);
    top: 50%;

    background-color: var(--primary-color);
    border-radius: 50%;

    width: 0.5625rem;
    height: 0.5625rem;
}

.item .content {
    margin-left: var(--icon-size);
    align-items: center;
    flex-grow: 1;
}

.content.content--expandable {
    cursor: pointer;
}


.item .chevron {
    cursor: pointer;
}

.item .chevron--up {
    transform: rotate(90deg);
}

.item .chevron--down {
    transform: rotate(-90deg);
}

/***type main item***/
.item.item--main {
    padding: var(--item-padding) 0;
}

.item.item--main .content * {
    display: block;
    word-break: break-all;
}

.item--main .title {
    font-size: 0.625rem;
    opacity: 0.5;
    margin-bottom: 0.1875rem;
    text-transform: uppercase;
}

/***type detail item***/
.item.item--detail {
    padding: calc( var(--item-padding) / 2) 0;
}

.item--detail .title,
.item--detail .description {
    font-size: 0.75rem;
    opacity: 0.5;
    display: inline-block;
}

.item--detail .title {
    width: 7.3125rem;
}

/************transitions*************/

.details-enter {
    opacity: 0;
    /* transform: scale(0.9); */
    max-height: 0;
}

.details-enter-active {
    opacity: 1;
    transform: translateX(0);
    max-height: 10rem;
    transition: opacity 500ms, transform 500ms, max-height 500ms;
}

.details-exit {
    opacity: 1;
    max-height: 10rem;
}

.details-exit-active {
    opacity: 0;
    /* transform: scale(0.9); */
    max-height: 0;
    transition: opacity 250ms, transform 500ms, max-height 500ms;
}