
/*-------------------gateway list-------------------*/
.gateways-list {
    width: 100%;
}

/*-------------------gateway option-------------------*/

.option-container {
    --oc-padding: 0px 0.71875rem;
    display: flex;

    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #C9C9C9;

    padding: 1.25rem 0px;
}

.option-container__radio {
    padding: var(--oc-padding);
}

.option-container__radio input[type='radio'] {
    margin: 0;
}

.option-container__content {
    display: flex;
    flex-grow: 1;
    padding: var(--oc-padding);
    /* margin-bottom: 0.5rem; */
}

/* .option-container__content:not(:last-child) > * > :not(:last-child){
    margin-bottom: 1.312rem;
} */

.content__info {
    display: flex;
    flex-grow: 1;
    margin-right: 2.125rem;
    flex-direction: column;
    box-sizing: border-box;
    --collapsable-height: 96px;
    /* margin-bottom: 0.6rem;  *//*margined to align with crypto-diff*/
}

.content__info .collapsable-section {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__info .title {
    margin-bottom: 0.4375rem;
    display: inline-block;
}

.content__info > :last-child {
    flex-grow: 1;
}
.content__price > :last-child {
    flex-grow: 1;
    justify-content: flex-end;
}

.content__info .details {
    font-size: 0.75rem;
    opacity: 0.5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 6rem));
}

/*child detail*/
.details__item {
    display: flex;
    align-content: center;
    align-items: center;
}

/*icon on child detail*/
.details__item > img {
    height: 1.066em;
    vertical-align: bottom;
    margin-right: 0.34375em;
}

.content__info .fees {
    transform: translateY(-70%);
    font-size: 0.875rem;
}

.content__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    --collapsable-height: 1.5625rem;
}

.content__price .gateway-logo {
    overflow: hidden;
}

.content__price .gateway-logo img {
    width: 100%;
    height: var(--collapsable-height);
}

.content__price > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    text-align: end;
    font-size: 0.75rem;
}



/*------------------- diff receive -------------------*/
.receive-diff {
    --diff-size: 0.61312em;
    position: relative;
    display: inline-block;
/*     color: green; */
}

/*gateway collapsed*/
.receive-diff--collapsed {
/*     color: red; */
}

.receive-diff--collapsed::before {
    content: '';
    height: 0;

    border-right: calc( 0.57735 * var(--diff-size) ) solid transparent;
    border-left: calc( 0.57735 * var(--diff-size) ) solid transparent;
    right: 100%;
    top: 20%;
    position: absolute;
    margin-right: 0.33125em;
}

.diff--down {
    color: red;
}

.diff--down::before {
    border-top: var(--diff-size) solid red;
}

.diff--up {
    color: green;
}

.diff--up::before {
    border-bottom: var(--diff-size) solid green;
}

.option-container--collapsed {
    border-style: none;
}

.option-container--collapsed:hover {
    cursor: pointer;
}

/* .option-container__content--collapsed,
.option-container__content--collapsed > * > :not(:last-child) {
    margin: 0px;
} */

.content__info--collapsed,
.content__info--collapsed > * > span:first-of-type {
    margin-bottom: 0px;
}

/******************transitions***********************/
.collapse-enter {
    max-height: 0rem;
    opacity: 0;
}

.collapse-enter-active {
    max-height: var(--collapsable-height);
    opacity: 1;
    transition: max-height 200ms linear, opacity 300ms linear;
}

.collapse-exit {
    max-height: var(--collapsable-height);
    opacity: 1;
}

.collapse-exit-active {
    max-height: 0rem;
    opacity: 0;
    transition: max-height 200ms linear, opacity 100ms linear;
}

/***/
.fade-enter {
    max-height: 0;
    opacity: 0;
}

.fade-enter-active {
    max-height: 5rem;
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit {
    max-height: 5rem;
    opacity: 1;
}
.fade-exit-active {
    max-height: 0;
    opacity: 0;
    transition: opacity 100ms;
}