.notificationContainer {
  min-height: 24px;
  margin-bottom: 24px;
}

.WidgetNotification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.message {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.015em;
  text-align: left;
  max-width: 80%;
}

.warning {
  color: var(--warning-color);
}

/* .warning svg path {
  stroke: var(--warning-color);
  fill: var(--warning-color);
} */

.info {
  color: var(--secondary-color-2);
}
/* .info svg path {
  stroke: var(--secondary-color-2);
} */
.error {
  color: var(--error-color-2);
}
/* .error svg path {
  stroke: var(--error-color-2);
  fill: var(--error-color-2);
} */
.success {
  color: var(--success-color);
}
/* .success svg path {
  stroke: var(--success-color);
} */
