.wrapper,
.wrapper * {
  box-sizing: border-box;
}

.wrapper > * {
  flex-shrink: 0;
}

.logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 45px 30px 30px 0;
}

.logo-wrapper > img {
  width: 228px;
  max-width: 100%;
}

.wrapper h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--text-dark-color);
  margin-bottom: 12px;
}

.wrapper h2 {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--text-light-color);
  margin-bottom: 40px;
}
