.wrapper {
    flex-grow: 0;
    height: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;    
    color: var(--text-dark-color);
    flex-shrink: 0;
    display: flex;
}

.text {
    flex-grow: 1;
    text-align: center;
    padding-left: 34px;
    color: var(--text-dark-color);
    position: relative;
}

.close-icon-wrapper {
    width: 24px;
    height: 24px;
    margin-right: 34px;
}