/*-------------------range-------------------*/
.range {
    --spacing: 0.125rem;
    display: flex;
    margin: var(--spacing) 0px;
}

.range__section{
    background-color: var(--level-color);
    height: 0.3125rem;
    flex-grow: 1;
}

.range__section + .range__section {
    margin-left: var(--spacing);
}

.range-label-container {
    --size: 0.3em;
    position: relative;
    font-size: 0.75rem;
}

.range-label-container > * {
    position: absolute;
    margin-top: var(--size);
}

.range-label__min{
    left: 0;
}

.range-label__max{
    right: 0;
}

.range-label__actual{
    z-index: 1;
}

.bubble {
    color: white;
	background-color: var(--level-color);
    border-radius: .4em;
    position: absolute;
    transform: translateX(-50%);
    padding: 0px 0.5em;
}

.bubble::after {
    content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: var(--size) solid transparent;
	border-bottom-color: var(--level-color);
	border-top: 0;
	margin-left: calc( var(--size) * -1 );
	margin-top: calc( var(--size) * -1 );
}

.color--low {
    --level-color: #89D16A;
}

.color--medium {
    --level-color: #DDCA64;
}

.color--high {
    --level-color: #DD8E64;
}