.address-input {
  flex: 1;
  --height: 40px;
  --padding: 5px 15px;
  --font-size: 12px;
  --line-height: 15px;
  --color-idle: var(--grey-light-color);
}

.input-icon {
  height: auto;
  display: flex;
  align-items: center;
  color: var(--grey-light-color);
}

.input-icon:hover {
  color: var(--text-light-color);
}

.input-spinner {
  cursor: default;
  width: 17px;
  height: 17px;
}

.input-spinner circle {
  stroke: var(--list-active-color);
}
