/*-------------------list-------------------*/
.input-wrapper {
  padding: 0 var(--padding-rl) 12px var(--padding-rl);
}

.list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: var(--component-content-height);
  flex-shrink: 0;
  padding: 19px var(--padding-rl);
  background: #ffffff;
  cursor: pointer;
}

.list-item-icon,
.list li > svg {
  width: 100%;
  max-height: 32px;
  max-width: 32px;
}

.list-item-child {
  width: 100%;
  flex-grow: 1;
  margin-left: 20px;
}

.list-item-name {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 2px;
  color: var(--text-dark-color);
}

.list-item-info {
  font-size: 12px;
  line-height: 15px;
  color: var(--text-light-color);
}

.list-item-right-child {
  flex-shrink: 0;
}

.list li:hover {
  background: var(--list-hover-color);
}

.list li.selected,
.list li:active {
  background: var(--list-active-color);
}

.list li.selected .list-item-name,
.list li.selected .list-item-right-child,
.list li.selected .list-item-info,
.list li.selected .list-item-right-child .list-text,
.list li:active .list-item-name,
.list li:active .list-item-right-child,
.list li:active .list-item-info,
.list li:active .list-item-right-child .list-text {
  color: var(--background-color);
}
