.input-box {
  min-width: 288px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #ededf1;
}

.input-box.is-focused {
    border-color: var(--primary-color);
}

.input {
  outline: none;
  border: 0;
  width: 0px;
  min-width: 88px;
  max-width: 100%;
  padding: 0;
  text-align: center;
}

.input-box.with-error {
  border-color: #E35757;
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  color: #292d32;
}

.symbol {
  margin-right: 1px;
}