/*********
theme styles
*********/
.theme {
    --primary-color:#31a5ff
}

/*********
general styles
*********/

.views-container {
    margin: auto;
    width: 440px;
    height: 576px;
}

.view {
    --padding-top: 1.75rem;
    --padding-rl: 1.88rem;
    --padding-bottom: 1.125rem;
    --padding: var(--padding-top) var(--padding-rl) var(--padding-bottom) var(--padding-rl);
    --component-padding: 0.81rem;
    --component-content-spacing: var(--component-padding);
    --component-content-height: 1.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    width: 100%;
    height: 100%;
}

/*********
components
*********/

/*-------------------body layot-------------------*/

.body {
    --body-space-childs: 1.25rem; /* var(--padding-bottom); */
    display: flex;
    flex-direction: column;
    padding: var(--body-space-childs) var(--padding-rl);
    overflow: auto;
    flex-grow: 1;
}

.body__child+.body__child {
    margin-top: var(--body-space-childs);
}


.row-fields {
    display: flex;
    flex-direction: row;
}

.row-fields__child {
    flex-grow: 1;
}

.row-fields__child+.row-fields__child {
    margin-left: var(--body-space-childs);
}

.grow {
    display: flex;
    flex-grow: 1;
}

@media (max-width: 410px) {
    .row-fields {
        flex-direction: column;
        align-items: stretch;
    }

    .row-fields__child+.row-fields__child {
        margin-left: 0;
        margin-top: var(--body-space-childs);
    }
}




/*-------------------button-------------------*/

.button-action {
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
    border-color: #DEDEDE;
    padding: 0.78rem;
    color: white;
    font-size: 1.25rem;
    width: 100%;
    margin-top: auto;
}


/*******/
.input-icon {
    height: 0.75rem;
}