/*********
general styles
*********/

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.app {
    margin: auto;
    width: 440px;
    height: 576px;
    position: relative;
    overflow: hidden;
}

.view {
    animation-duration: 0.75s;
    animation-name: slideInFromRight;
    --padding-top: 1.75rem;
    --padding-rl: 1.88rem;
    --padding-bottom: 1.125rem;
    --padding: var(--padding-top) var(--padding-rl) var(--padding-bottom) var(--padding-rl);
    --component-padding: 0.81rem;
    --component-content-spacing: var(--component-padding);
    --component-content-height: 1.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*********
components
*********/

/*-------------------body layot-------------------*/

.body {
    --body-space-childs: var(--padding-bottom);
    display: flex;
    flex-direction: column;
    padding: var(--body-space-childs) var(--padding-rl);
    overflow: auto;
    flex-grow: 1;
}

.body__child+.body__child {
    margin-top: var(--body-space-childs);
}


.row-fields {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.row-fields__child {
    flex-grow: 1;
}

.row-fields__child+.row-fields__child {
    margin-left: var(--body-space-childs);
}

.grow {
    flex-grow: 1;
}

@media (max-width: 410px) {
    .row-fields {
        flex-direction: column;
        align-items: stretch;
    }

    .row-fields__child+.row-fields__child {
        margin-left: 0;
        margin-top: var(--body-space-childs);
    }
}




