
/*-------------------list-------------------*/
.list {
    display: flex;
    flex-direction: column;
    padding: 0px var(--padding-rl) !important;
    overflow: auto;
    flex-grow: 1;
}

.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.125rem 0px;
    height: var(--component-content-height);
}

.list-item__child + .list-item__child {
    margin-left: var(--component-content-spacing);
}

.list-item__icon {
    height: 1.75rem;
}

.list-item__info {
    font-size: 0.75em;
    margin-left: var(--component-content-spacing);
    opacity: 0.25;
}