.nav-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen-enter {
  opacity: 0;
}

.screen-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.screen-exit {
  opacity: 1;
}

.screen-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.floating {
  display: none;
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}

/* .floating-enter {
    border-radius: 250px;
    opacity: 0;
}
.floating-enter-active {
    border-radius: var(--border-radius);
    opacity: 1;
    transition: border-radius 150ms, opacity 100ms;
}
.floating-exit {
    opacity: 1;
}
.floating-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
 */

/* .screen-enter {
    transform: translateX(100%);
}
.screen-enter-active {
    transform: translateX(0%);
    transition: transform 300ms;
}

.screen-exit {
    transform: translateX(0%);
}
.screen-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
} */